<!DOCTYPE html>
<html>

<head>
  <title>Barry Grubb</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
  <link rel="manifest" href="./site.webmanifest">
  <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <div class="page-container">
    <div class="top-menu">
      <a href="./index.html" class="top-menu-entry">About</a>
      <a href="./blog.html" class="top-menu-entry-active">Blog</a>
      <a href="./cv.html" class="top-menu-entry">CV/Resume</a>
      <!-- <a href="./work.html" class="top-menu-entry">Things I've made</a> -->
    </div>
    <h1 class="in-post-title">---HEADER---</h1>
    ---TAGS---
    <p class="in-post-date">---DATE---</p>
    <div class="post-content">---CONTENT---</div>
  </div>
  <div class="footer">Made with ❤️, ☕, and a 💻 by Barry Grubb.</div>
</body>

</html>