<!DOCTYPE html>
<html>

<head>
  <title>Barry Grubb</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:500,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
  <div class="page-container">
    <div class="top-menu">
      <a href="./index.html" class="top-menu-entry-active">Blog</a>
      <a href="./about.html" class="top-menu-entry">About</a>
      <!-- <a href="./cv.html" class="top-menu-entry">CV/Resume</a> -->
    </div>
    <h1 class="in-post-title">---HEADER---</h1>
    <p class="in-post-date">---DATE---</p>
    <div class="post-content">---CONTENT---</div>
  </div>
</body>

</html>