body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.page-container {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: red;
}

#link {
  color: #00AEFF;
  text-decoration: none;
}

#link:hover {
  color: #ffffff;
  background-color: #00AEFF;
}

.top-menu {
  margin-top: 20px;
}

.top-menu-entry {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  margin-right: 15px;
  font-size: 1em;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5em;
}

.top-menu-entry:hover {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #ED008C;
}

.social:hover {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color:#FFF000;
}

.top-menu-entry-active {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  margin-right: 15px;
  font-size: 1em;
  text-decoration: none;
  font-weight: 500;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #ED008C;
}

.site-name {
  color: #000000;
  font-size: 10em;
  font-family: 'Roboto', sans-serif;
  line-height: 0.3em;
  font-weight: 900;
}

.index-page-post-container {
  margin-bottom: 30px;
}

.index-page-post-title {
  color: #000000;
  font-size: 1.5em;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.index-page-post-title:hover {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #00AEFF;
}

.index-page-post-tag {
  color: #00AEFF;
  font-size: 1em;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
}

.index-page-post-tag:hover {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #00AEFF;
}

.index-page-post-date {
  color: #ED008C;
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
}

.in-post-title {
  color: #000000;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
  margin-bottom: 15px;
}

.in-post-date {
  color: #ED008C;
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
}

.in-post-tag {
  color: #00AEFF;
  font-size: 1em;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 500;
  margin-right: 10px;
}

.in-post-tag:hover {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #00AEFF;
}

.post-content {
  color: #000000;
  font-family: 'Lato', sans-serif;
  margin-top: 60px;
  font-size: 1em;
  line-height: 1.5em;
}

.post-content h1 {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 40px;
}

.post-content pre {
  background-color:#FFF000;
  color: #000000;
  overflow: scroll;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1em;
}

code {
  background-color:#FFF000;
  color: #000000;
  font-size: 1em;
  padding-left: 5px;
  padding-right: 5px;
}

.post-content img {
  max-width: 100%;
  max-height: 100%;
}

.tag-page-title {
  color: #000000;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
  margin-bottom: 15px;
}

.tag-page-post-container {
  margin-bottom: 30px;
}

.tag-page-post-title {
  color: #000000;
  font-size: 1.5em;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.tag-page-post-title:hover {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #00AEFF;
}

.tag-page-post-date {
  color: #000000;
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  margin-top: 0px;
}

.about-page-title {
  color: #000000;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
}

.aside {
  background-color: #00AEFF;
  color:#ffffff;
  padding: 20px;
  padding-top: 10px;
}

.responsive-img {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 700px)  {

  .site-name {
    color: #000000;
    font-size: 8em;
    font-family: 'Roboto', sans-serif;
    line-height: 0.5em;
    font-weight: 900;
  }

}