/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* padding: 1rem; */
}

p {
  padding-bottom: 1rem;
}

ul, ol {
  list-style-type: square;
  padding-left: 2rem;
  /* padding: 2rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

strong {
  /* font-weight: bold; */
}

.page-container {
  /* width: 100%; */
  min-height: calc(100vh - 3rem);
  margin-top: 1rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  color: #222222;
  padding-left: 1rem;
  padding-right: 1rem;
  /* color: #000000; */
}

.index-page-post-title, .tag-page-post-title {
  /* color: #000000; */
  text-decoration: underline;
  color: #1ba2fc;
}

.index-page-post-title:hover, .tag-page-post-title:hover {
  /* color: #1ba2fc; */
  text-decoration: none;
}

.index-page-post-tag, .in-post-tag {
  color: slategrey;
  padding-right: 0.5rem;
  text-decoration: underline;
  font-size: 0.9rem;
}

.index-page-post-tag:hover, .in-post-tag:hover {
  text-decoration: none;
}

.index-page-post-container {
  padding-bottom: 1.5rem;
}

.index-page-post-date, .in-post-date, .tag-page-post-date {
  /* font-style: italic;
  margin: 0;
  padding: 0; */
  color: slategrey;
  font-size: 0.9rem;
}

.top-menu {
  margin-bottom: 2rem;
}

.top-menu-entry {
  /* font-size: 1rem; */
  color: slategrey;
  text-decoration: none;
  padding-right: 1rem;
  font-weight: 400;
}

.top-menu-entry:hover {
  color: #1ba2fc;
}

.top-menu-entry-active {
  /* font-size: 1rem; */
  color: #1ba2fc;
  text-decoration: none;
  padding-right: 1rem;
  font-weight: 400;
}

.link {
  color: #1ba2fc;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

code {
  /* background-color: yellow;
  color: #000000; */
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding-bottom: 2rem;
}

h2 {
  /* font-size: 2rem;
  line-height: 1.25rem; */
}

.aside {
  /* background-color: yellow;
  font-style: italic;
  margin-bottom: 0;
  padding: 1rem; */
}

.aside h2 {
  /* font-size: 1.5rem;
  line-height: 1.5rem; */
}

.post-content img, .responsive-img {
  max-width: 100%;
  max-height: 100%;
  display:block;
  margin: auto;
}

.profile-img {
  max-width: 150px;
  max-height: 150px;
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
  margin-bottom: 2rem;
  border-radius: 50%;
}

.image-caption {
  /* font-style: italic; */
}

.tag-page-post-container {
  padding-bottom: 1.5rem;
}

.footer {
  height: 1rem;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  color: #222222;
  padding-bottom: 1rem;
  /* padding-top: 32px; */
}

em {
  /* font-style: italic; */
}

#social-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ion-icon {
  font-size: 1.5rem;
  color: slategrey;
  cursor: pointer;
  padding-right: 0.5rem;
}

ion-icon:hover {
  color: #1ba2fc;
}

.post-content h1 {
  padding-top: 2rem;
}